doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Conflicting Reports
        link(href='/static/css/main.css', rel='stylesheet')
    body
        h1
            a(href="http://conflictingreports.co.uk") Conflicting Reports
        div#Container
            div#App
            div#Overlay
                div#Stories
                    h2#Country
                    ul#Articles
                ul#Sources
                    - for (var i = 0; i < sources.length; i++)
                        li
                            input.source-check(type='checkbox', id='#{ sources[i].id }', checked='checked', value='#{ sources[i].name }')
                            label.source-switch(for='#{ sources[i].id }')
                            a(href="#{ sources[i].domain }") !{ sources[i].name }
        script#MapTemplate(type="text/template").
            <div id="Map"></div>
    script.
        var articles = !{articles};
    script(src='/static/js/creports.js')
